* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 1em;
    padding: 0.3em;
	margin-top: -1em;
    background-image: url(/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 8em;
    display: flex;
  }

.container {
    margin: auto;
    width: 100%; 
}
@media (min-width: 900px) {
    .container {
        display: flex;
               
    }
}
.greet {
    display: flex;
}
h1 {
    text-align: center;
}
h2 {
    color: #900C3F;
}

h3 {
    color: #fff;
    margin: 1em;
}
input {
    margin: 0.8em;
    padding: 0.8em;

}
.message {
    padding: 1em;
    background-color: #909E84;
    margin-bottom: 1em;
    font-weight:600;
    color: #194F92;;
}
.box {
    border: 3px solid #9AA4EC;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    flex: 1;
}
button {
	box-sizing: border-box;
	background-color: #ff523b;
	border: 1px solid #ff523b;
	border-radius: 0.4em;
	color: #fff;
	cursor: pointer;
	line-height: 0.2;
	padding: 1.2em 2.8em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
}

